.social-network {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 25px;
  background-color: $networkIconBgColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network__icon {
  fill: $elementsColor;
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__icon--white {
  fill: $primaryColor;
}

.social-network:hover,
.social-network:focus {
  background-color: $accentElementColor;
  border-radius: 25px;
}

.social-network:hover .social-network__icon,
.social-network:focus .social-network__icon {
  fill: $primaryColor;
}
